[submodule "kernel-images"]
	path = submodules/kernel-images
	url = https://github.com/onkernel/kernel-images.git

[submodule "browser-operator-core"]
	path = submodules/browser-operator-core
	url = https://github.com/BrowserOperator/browser-operator-core.git
	shallow = true

[submodule "webarena"]
	path = submodules/webarena
	url = https://github.com/web-arena-x/webarena.git
